<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1 align="center">
    Здесь будет подробная информация о возможности изменить ваше будущее
</h1>
</body>
</html>